{% extends "register/base.html"%} {% load crispy_forms_tags%} {% load static %}
{% block main %}

<div class="schedules-area pd-top-110 pd-bottom-120">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-7 col-lg-12">
        <div class="section-title text-center">
          <h2>Attendance Register</h2>
          <p>Kariokor Monthly meeting children Ministry</p>
        </div>
        <hr />
        
      </div>
    </div>

    <div class="tab-content" id="ex1-content">
      <div class="tab-pane fade active show" id="ex1-tabs-1" role="tabpanel">
        <div class="row">

          <div class="col-lg-4 col-md-6 p-2 m-2 card">

          <P class="text-center">  
            <b> Child Not on the list ?</b>
        <a
          class="btn btn-sm btn-primary px-4 "
          href="{% url 'add'%}?next={{request.get_full_path}}"
        >
          Register</a
        ></P>
        <small class="text-center text-white bg-success p-2"> SELECT TO ADD IN ATTENDANCE </small>
            {% for item in page_obj %} {% if item.in_attendance != True %}
            <div class="single-schedules-inner bg-light">
              <ul class="list-group p-1">
                <a class="text-decoration-none" href="{% url 'mark' item.id %}">
                  <li class="list-group-item px-3">
                    <small>{{forloop.counter}}. {{ item.child}}<span class="px-4"> </span> <i class="fa fa-angle-double-right" aria-hidden="true"></i></small>
                  </li>
                </a>
                
              </ul>
            </div>
            {% endif %} {% endfor %}
            <div class="pagination bg-light text-center p-2 mt-5 text-white">
              <span class="step-links text-center">
                {% comment %} {% if is_paginated %} {% endcomment %} 
                {% if page_obj.has_previous %}
                <a
                  class="btn btn-sm btn-outline-info mb-4 text-dark"
                  href="?page=1"
                  ><small> First</small></a
                >
                <a
                  class="btn btn-sm btn-outline-info mb-4 text-dark"
                  href="?page={{page_obj.previous_page_number}}"
                >
                  <small>Previous</small>
                </a>
                {% endif %} {% for num in page_obj.paginator.page_range %} 
                {% if page_obj.number == num %}

                <a
                  class="btn btn-sm btn-info mb-4 text-dark"
                  href="?page={{ num }}"
                  ><small>{{ num }}</small></a
                >

                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'%}
                <a
                  class="btn btn-sm btn-outline-info mb-4 text-dark"
                  href="?page={{num }}"
                  ><small>{{ num }}</small></a
                >
                {% endif %} {% endfor %} {% if page_obj.has_next %}
                <a
                  class="btn btn-sm btn-outline-info mb-4 text-dark"
                  href="?page={{page_obj.next_page_number}}"
                  ><small>Next</small></a
                >
                <a
                  class="btn btn-sm btn-outline-info mb-4 text-dark"
                  href="?page={{ page_obj.paginator.num_pages}}"
                  ><small>Last</small></a
                >
                {% endif %} {% comment %} {% endif %} {% endcomment %}
              </span>
            </div>
          </div>

          <div
            class="col-lg-4 col-md-6 p-2 m-2 card"

           
          >
                    <small class="btn btn-info"><b>Present List</b></small>

          <div  style="overflow: scroll; height: 500px">
            <table class="table">
                
            {% for item in attendance %} {% if item.in_attendance == True %}
            <tr>

                <td>
                     <a class="text-decoration-none text-success px-2" href="{% url 'mark' item.id %}">
                 
                <small>
                <i class="fa fa-trash" aria-hidden="true"></i>
                </small>
                </a> 
                       {{ item.child.first_name.capitalize}} {{ item.child.last_name.capitalize}}
                </td>
                <td>

        
              
             
        
        </td>

        <td>
             <a class="text-decoration-none text-end" href="{% url 'view_child_details' item.child.id %}">
                 
                     <i class="fa fa-info-circle" aria-hidden="true"></i>
                
                </a>
        </td>
        </tr>
            
            {% endif %} 
            {% empty %}
            <p> There is no child Marked as present , please check to mark present </p>
            {% endfor %}
        </table>
        </div>
          </div>
          <div class="col-lg-3 col-md-6 p-2 m-2 card">
            <small class="btn btn-warning"><b>Statistic </b></small>
            <p class="btn btn-success m-2">Pie Chart : Attendance Ratio</p>

            <div class="bg-light">
              <div
                class="text-center"
                style=" width: 200px;
                                height: 200px;
                                margin:auto;
                                border-radius: 50%;
                                background-image: conic-gradient(
                                lightblue 0  {{value}}deg,
                                orange 0"
              ></div>
              <hr />
              <div
                class="text-center"
                style="display: flex; gap: 10px; margin: auto"
              >
                Key:
                <div
                  style="
                    padding: 10px;
                    background-color: lightblue;
                    width: 10px;
                    height: 10px;
                  "
                ></div>
                Present
                <div
                  style="
                    padding: 10px;
                    background-color: orange;
                    width: 10px;
                    height: 10px;
                  "
                ></div>
                Absent
              </div>

<table class="table">
        <tr>
          <th>Total Number:</th>
          <td>
            {{ total_child }}
           
          </td>
        </tr>
        <tr>
          <th>Present:</th>
          <td>{{ present }} </td>
        </tr>
        <tr>
          <th>Absent:</th>
          <td>{{ absent }}</td>
        </tr>
        <tr>
          <th>Attendance %:</th>
          <td>{{ rate }} %</td>
        </tr>
          <tr>
          <th>Last :</th>
          <td> {{child_details.child.talent}}</td>
        </tr>
      </table>




            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endblock main %}
</div>
