{% extends "register/base.html"%} {% load crispy_forms_tags%} {% load static %}
{% block main %}

<div class="schedules-area pd-top-110 pd-bottom-120">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-7 col-lg-8">
        <div class="section-title text-center">
          <h1>Welcome {{request.user.username.capitalize}}</h1>
          <p>Kariokor Monthly meeting children Ministry</p>
        </div>
        <hr />
      </div>
    </div>
  </div>

  <hr />

  <div class="container-fluid">
    <div class="row content">
      <div class="col-sm-3 sidenav hidden-xs">
        <h2>Logo</h2>

        <ul class="list-group nav nav-pills nav-stacked">
          <li class="list-group-item m-2">
            <a href="#section1">Calender Events</a>
          </li>
          <li class="list-group-item m-2">
            <a href="#section2">View Children</a>
          </li>
          <li class="list-group-item m-2">
            <a href="#section3"> Statistics</a>
          </li>
          <li class="list-group-item m-2">
            <a href="#section3">Our Progress</a>
          </li>
        </ul>
      
      </div>
    

      <div class="col-sm-9">
        <div class="well">
          <h4>Children in Ministry</h4>
          <p>Some text..</p>
        </div>
        <div class="row">
          <div class="col-sm-9">
            <h4>Leadership</h4>
            <div >
              Monthly meeting
              <table class="table table-success table-striped">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>

                    <th scope="col">Position</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Chaiman</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Secretary</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>Treasurer</td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td>Larry</td>
                    <td>Vice Chairman</td>
                  </tr>
                  <tr>
                    <th scope="row">5</th>
                    <td>Larry</td>
                    <td>Vice Secretary</td>
                  </tr>
                  <tr>
                    <th scope="row">6</th>
                    <td>Larry</td>
                    <td>Vice Treasurer</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="well">
              <h4>Local Churches</h4>
              <ul class="list-group">
                <li class="list-group-item">Kiambiu</li>
                <li class="list-group-item">Muthaiga</li>
                <li class="list-group-item">South B</li>
                <li class="list-group-item">Eastleigh</li>
                <li class="list-group-item">Runda</li>
                <li class="list-group-item">Umoja</li>
                <li class="list-group-item">Kitengela</li>
                <li class="list-group-item">Kariokor</li>
                <li class="list-group-item">Waudo</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4"></div>
          <div class="col-sm-8">
            <div class="well"> 
              <p > <b class="p-3">You can proceed to the day ?</b>
              <a
                href="{% url 'view_events'%}"
                class="btn btn-sm btn-success px-4"
                >Continue</a
              ></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% endblock main %}
  </div>
</div>
