{% extends "register/base.html"%} {% load crispy_forms_tags%} {% load static %}
{% block main %}

<div class="schedules-area pd-top-110 pd-bottom-120">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-7 col-lg-8">
        <div class="section-title text-center">
          <h1>Welcome {{request.user.username.capitalize}}</h1>
          <p>Kariokor Monthly meeting children Ministry</p>
        </div>
        <hr />
      </div>
    </div>
  </div>

  <hr />

  <div class="container-fluid">
    <div class="row ">
      <div class="col-sm-3  hidden-xs">
        <h2></h2>

      <a  class="text-decoration-none" href="{% url 'view_events'%}">
        <div class="col-sm-12 m-2" >
          <div class="card shadow-lg bg-primary" style="border-radius:20px">
            <div class="card-body">
              <h4 class=" text-center card-subtitle mb-1">Events</h4>              
            </div>
          </div>
        </div></a>

         <a  class="text-decoration-none" href="{% url 'view_child'%}">
        <div class="col-sm-12 m-2" >
          <div class="card shadow-lg bg-body" style="border-radius:20px">
            <div class="card-body">
              <h4 class=" text-center card-subtitle mb-1">Children</h4>              
            </div>
          </div>
        </div></a>

        <a  class="text-decoration-none" href="#">
        <div class="col-sm-12 m-2" >
          <div class="card shadow-lg bg-body" style="border-radius:20px">
            <div class="card-body">
              <h4 class=" text-center card-subtitle mb-1">Statistic</h4>              
            </div>
          </div>
        </div></a>

 <a  class="text-decoration-none" href="#section1">
        <div class="col-sm-12 m-2" >
          <div class="card shadow-lg bg-body" style="border-radius:20px">
            <div class="card-body">
              <h4 class=" text-center card-subtitle mb-2">Progress Report</h4>              
            </div>
          </div>
        </div></a>
         
        
      </div>

      <div class="col-sm-9">
        <div class="well">
          <h4>Children in Ministry</h4>
          <p >As a Quaker Church, we believe in God as our loving Father of all us. Through his divine, we bring our children to the faith in Jesus Christ and find salvation through the Gospel and the work of the Holy Spirit.</p>
        <p> The Quaker tradition emphasizes the direct experience of God's presence and guidance in our lives, as well as the importance of community and social justice. Bringing children into the faith and nurturing their spiritual growth is a profound aspect of many religious traditions, including Quakerism. How do you personally find that your faith impacts your life and relationships? </p>
        <p> Certainly! Faith can impact every aspect of life, from how we treat others to the decisions we make in our careers and personal lives. For example, the Quaker belief in the inherent worth and dignity of every person can influence how we interact with others, promoting kindness, empathy, and respect. Additionally, the Quaker commitment to peace and social justice can inspire us to advocate for equality, work towards reconciliation, and strive for a more just and compassionate society. How do you see your faith shaping your actions and relationships in your daily life?</p>
      </div>
        <div class="row">
          <div class="col-sm-9">
            <h4>Leadership</h4>
            <div>
              Monthly meeting
              <table class="table table-success table-striped">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>

                    <th scope="col">Position</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Chaiman</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Secretary</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>Treasurer</td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td>Larry</td>
                    <td>Vice Chairman</td>
                  </tr>
                  <tr>
                    <th scope="row">5</th>
                    <td>Larry</td>
                    <td>Vice Secretary</td>
                  </tr>
                  <tr>
                    <th scope="row">6</th>
                    <td>Larry</td>
                    <td>Vice Treasurer</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="well">
              <h4>Local Churches</h4>
              <ul class="list-group">
                <li class="list-group-item">Kiambiu</li>
                <li class="list-group-item">Muthaiga</li>
                <li class="list-group-item">South B</li>
                <li class="list-group-item">Eastleigh</li>
                <li class="list-group-item">Runda</li>
                <li class="list-group-item">Umoja</li>
                <li class="list-group-item">Kitengela</li>
                <li class="list-group-item">Kariokor</li>
                <li class="list-group-item">Waudo</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4"></div>
          <div class="col-sm-8">
            <div class="well">
              <p>
                <b class="p-3">You can proceed to the day ?</b>
                <a
                  href="{% url 'view_events'%}"
                  class="btn btn-sm btn-success px-4"
                  >Continue</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% endblock main %}
  </div>
</div>
