
{% extends "register/base.html"%} {% load crispy_forms_tags%} {% load static %}
{% block main %}
<div class="row justify-content-center">
  <div class="col-xl-7 col-lg-8">
    <div class="section-title text-center">
      <h3>Edit Child Details  </h3> 
      <p>Kariokor Monthly meeting children Ministry  </p>
      <hr />
    </div>

  </div>
  
</div>



<div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-sm-5">
    <h4>
      {{ image.child.first_name.capitalize }} {{image.child.middle_name.capitalize }} {{image.child.last_name.capitalize }}
    </h4>
    <p class="text-muted text-end">
      Date Joined :{{image.child.date_created}}
    </p>
    <hr />
    <div class="text-center">
      {% if image.image %}
      <img
        style="height: 20rem; width: 20rem; margin: auto; border-radius: 150px"
        src="{{ image.image.url }}"
      />

      <p class="text-end">
         <a
          class="text-success m-2 text-decoration-none btn-sm btn-light"
          href="{% url 'add_image' image.id %}"
          ><b>Change Image</b></a
        > 
      </p>
      {% else %}
      <img
        style="height: 20rem; width: 20rem; margin: auto; border-radius: 150px"
        src="{% static 'register/images/logo2.jpg' %}"
        alt="PHOTO"
      />
      <p class="text-end">
         <a
          href="{% url 'add_image' image.id %}"
          class="text-danger m-2 text-decoration-none btn-sm btn-light"
          ><b>Add Image</b></a>
      </p>
      {% endif %}
    </div>
  </div>

    <div class="col-sm-5 m-3 p-2">
    <div class=" p-4 ">
        <p class="text-end">
          <a
            class="text-success btn btn-sm btn-light"
            href="{% url 'edit_child' parent.child.slug %}"
            ><b>Edit child detail</b></a
          >
        </p>
      <hr />
     
        <div class=""> {% crispy form %}</div>
      
    </div>
  </div>
</div>


{% endblock main %}